<ion-app>   
  <ion-header>
    <ion-toolbar>
      <ion-row class="background-transparent">
        <ion-col size="3">
          <ion-img src="/assets/img/Logo_DuocUC.svg.png"></ion-img>
        </ion-col>
        <ion-col>
          <ion-title #titulo class="ion-text-left ion-text font-size-18 animate-text">
            <div>
              <br>
              Sistema de Asistencia DUOC
            </div>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="background-container">
    <div class="background-image"></div> <!-- Imagen de fondo -->
    
    <ion-card style="background-color: rgba(237, 219, 196, 0.773);">
      <br>
    <h1 class="ion-text-center" style="color: rgb(255, 145, 0);">
      ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
    </h1>
    <h1 class="ion-text-center" *ngIf="!datosQR" style="color: black;">Registra tu asistencia a clases</h1>
    </ion-card>
    
    <video #video [hidden]="!escaneando" style="width: 100%"></video>
    <canvas #canvas hidden></canvas>


  
    <ion-card style="background-color: rgba(237, 219, 196, 0.773);">
      <ion-card-header>
        <ion-card-title style=" color: black;"> Los datos del Código QR son los siguientes:</ion-card-title>
      </ion-card-header>
      <ion-card-content class="borde">
        <h2 *ngIf="datosQR">{{ datosQR }}</h2>
        <h2 *ngIf="!datosQR">Sin información</h2>
      </ion-card-content>
    </ion-card>
    <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round" class="dark-orange-button">
      <ion-icon slot="start" name="videocam-outline"></ion-icon>
      Comenzar Escaneo de QR
    </ion-button>
  
    <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round" class="dark-orange-button">
      <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
      Detener escaneo de QR
    </ion-button>

  </ion-content>
    

<div class="background-footer"> 
  <ion-button shape="round" (click)="navegar('/inicio')" class="dark-orange-button">  
    <ion-icon slot="start" name="home"></ion-icon>  
    Inicio  
  </ion-button>    
  <ion-button shape="round" (click)="navegar('/login')" class="dark-orange-button">  
    <ion-icon slot="start" name="log-out"></ion-icon>  
    Salir  
  </ion-button>  
</div>
</ion-app>