<ion-app>  
  <ion-header class="header-container">  
    <ion-toolbar class="transparent-toolbar">  
      <ion-img src="../../../assets/img/Logo_DuocUC.svg.png" class="logo ion-margin-left"></ion-img>  
      <ion-title #titulo class="ion-text-left titulo-header">  
        SISTEMA DE ASISTENCIA DUOC  
      </ion-title>  
    </ion-toolbar>  
  </ion-header>  

  <ion-content [fullscreen]="true">  
    <div class="centrado">  
      <h1 class="ion-text-center titulo-asignatura">DATOS DE LA ASIGNATURA</h1>  
      <br><br>  
      <table>  
        <tr>  
          <td class="ancho_columna_titulos">Bloque de Inicio</td>  
          <td>{{asistencia.bloqueInicio}}</td>  
        </tr>  
        <tr>  
          <td>Bloque de Término</td>  
          <td>{{asistencia.bloqueTermino}}</td>  
        </tr>  
        <tr>  
          <td>Día</td>  
          <td>{{asistencia.dia}}</td>  
        </tr>  
        <tr>  
          <td>Hora de Fin</td>  
          <td>{{asistencia.horaFin}}</td>  
        </tr>  
        <tr>  
          <td>Hora de Inicio</td>  
          <td>{{asistencia.horaInicio}}</td>  
        </tr>  
        <tr>  
          <td>Sigla</td>  
          <td>{{asistencia.idAsignatura}}</td>  
        </tr>  
        <tr>  
          <td>Nombre de Asignatura</td>  
          <td>{{asistencia.nombreAsignatura}}</td>  
        </tr>  
        <tr>  
          <td>Nombre del Profesor</td>  
          <td>{{asistencia.nombreProfesor}}</td>  
        </tr>  
        <tr>  
          <td>Sección</td>  
          <td>{{asistencia.seccion}}</td>  
        </tr>  
        <tr>  
          <td>Sede</td>  
          <td>{{asistencia.sede}}</td>  
        </tr>  
      </table>  
      <br>  
      <ion-button class="btn-limpiar" expand="block" shape="round" routerLink="/miclase">  
        <ion-icon slot="start" name="trash-outline"></ion-icon>  
        Limpiar datos  
      </ion-button>  
      <ion-button color="rgb(161, 72, 190)" expand="block" class="ion-margin-top" (click)="cerrarsesion()">Cerrar Sesión</ion-button>  
    </div>  
  </ion-content>  
</ion-app>




