 /* Ajuste del logo */
 ion-header ion-img {
  width: 200px; /* Ajustamos el tamaño del logo */
  height: auto;
  margin: 10px; /* Añadimos un pequeño margen */
}

ion-content{
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

.center-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100%;           /* Ocupa toda la altura de la pantalla */
}


@media screen and (orientation: landscape) {
  .center-container {
    width: 40%;
    margin: auto;
  }
}

/* Botón "Limpiar datos" con color personalizado */
.btn-limpiar {
  --background: #FFA500; /* Color naranja oscuro */
  --color: white; /* Texto en blanco */
}

/* Estilo para el título de la asignatura */
.titulo-asignatura {
  color: #FFA500; /* Color naranja oscuro */
  font-weight: bold; /* Negrita */
}

/* Encabezado transparente */
.transparent-toolbar {
  --background: rgba(149, 142, 142, 0.5); /* Fondo totalmente transparente */
  border-bottom: none;
  background-image: url('../../../assets/img/PAO99911.jpg')
}




/* Título en el encabezado con color personalizado */
.titulo-header {  
  color: #FFA500; /* Color de texto */  
  font-weight: bold; /* Negrita */  
  text-align: center; /* Centrar el texto */  
  margin: 0 ; /* Añadir margen superior e inferior */
    
}

table {
  width: 100%;
  color: #FFA500; /* Color de texto*/ 
}
td {
  padding: 10px;
}

.ancho_columna_titulos {
  font-weight: bold;
}

@media screen and (orientation: landscape) {
  .center-container {
    width: 40%;
    margin: auto;
  }
}


ion-content {
  --background: none; /* Eliminamos cualquier fondo predeterminado */
}

.centrado {  
  position: relative;  
  z-index: 2; /* Nos aseguramos de que el contenido esté encima de la imagen */  
  padding: 20px;  
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */  
  border-radius: 10px;  
  margin: 20px;  

  /* Agrega un borde de color naranja oscuro */  
  border: 5px solid #FFA500; /* Cambia este valor por el tono que prefieras */  
}

/* Fondo del contenido con una imagen */
ion-content {
  --background: transparent; /* Fondo transparente para que se vea la imagen de fondo */
  background-image: url('../../../assets/img/PAO999.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}



.header-container {
  /* ... otros estilos existentes ... */
  border-bottom: 2px solid black; /* Agrega un borde inferior negro de 2px */
}